header, footer, section, nav, article {  
    display: block;  
}

body {
	margin: 0 auto;
	margin-top:20px;
	width: 940px; 
	font-size: 13px;
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

#logo {
	display: block;
	margin: 0 auto;
	padding:20px;
}

h1 {
	text-transform: uppercase;
	color: black;
}

h2 {
	font-size: 15px;
	color: black;
}

footer {
	width: 940px;
	height: 40px;
	margin: 5px auto;
	
	text-align: center;
	background-color: white;
}

nav {
	width: 940px;
	height: 50px;
	background-color: white;
	text-align: center;
}


ul li {
  position: relative;
  margin: 0 20px;
  list-style: none;
  display: inline-block;
  padding: 14px;
  font-size: 17px;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: black;
text-transform: uppercase;
font-size: 20px;
}

ul li a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

section#wrapper {
	margin-top: 100px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

article#article_1 {
	width: 900px;
	height: 500px;
	background-color: white;
}

header#header_article_1 {
	width: 900px;
	height: 60px;
	background-color: white;
}

section#section_article_1 {
	width: 850px;
	height: 400px;
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: white;
}

