header, footer, section, nav, article {  
    display: block;  
}

body {
	margin: 0 auto;
	margin-top:20px;
	width: 940px; 
	font-size: 13px;
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

#logo {
	display: block;
	margin-left: auto;  
	margin-right: auto;  
	padding:20px;
}

#display {
  padding: 10px;
  width: 150px;
  height: 180px;
  border-radius: 35%;
  place-items: left;
}

h1 {
	text-transform: uppercase;
	color: black;
}

h2 {
	font-size: 15px;
	color: black;
}

h6 {
	font-size: 15px;
	font-weight: bold;
}
	

footer {
	width: 940px;
	height: 40px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
}

nav {
	width: 940px;
	height: 50px;
	background-color: white;
	text-align: center;
}


ul li {
  position: relative;
  margin: 0 20px;
  list-style: none;
  display: inline-block;
  padding: 14px;
  font-size: 17px;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: black;
text-transform: uppercase;
font-size: 20px;
}

ul li a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

section#wrapper {
	margin-top: 100px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

article#article_1 {
	width: 900px;
	height: 500px;
	background-color: white;
}

header#header_article_1 {
	width: 900px;
	height: 60px;
	background-color: white;
}

section#section_article_1 {
	width: 850px;
	height: 400px;
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a color */
input[type="submit"]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 50px;
  font-size: 15px;
}
h5 {
  text-align: left;
}
h6 {
  font-size: 15px;
}

/* Contact Form - Style the form container and center it on the page */
#contact-form {
  max-width: 400px;
  margin: 0 auto;
  font-size: 15px;
}

/* Style the form labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style the form inputs and textarea */
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the form submit button */
button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: black;
}

/* CSS code to style the contact form */
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
	
}
#name,
#email,
#message {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
}
#message {
  height: 100px;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
}
