header, footer, section, nav, article {  
    display: block;  
}

body {
	margin: 0 auto;
	margin-top:20px;
	width: 940px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-family: 'Inconsolata', monospace;
}

#logo {
	display: block;
	margin: 0 auto;
}

h1 {

	color: black;
}

h2 {
	text-align: center;
	color: black;
}



header#banner {
	width: 940px;
	height: 100px;
	margin: 5px auto;
	border: 1px solid #000000;
	text-align: center;
	background-color: white;

}

footer {
	width: 940px;
	height: 40px;
	margin: 5px auto;
	border: 1px solid #000000;
	text-align: center;
	background-color: white;
}

nav {
	width: 940px;
	height: 50px;
	float: left;
	font-family: Geneva,Arial;
	border: 1px solid #000000;
	background-color: white;
}

nav ul {
	margin: 0px auto;
	padding: 15px;
	list-style-type: none;
}
nav li {
	display: inline;

}

nav li a {
	float: left;
	text-align: center;
	border-right: 2px solid #00DBF0;
        width: 100px;  
        font-size: 14px; 
	padding: 0px 10px;
	color: black;
	text-decoration: none;
}

nav li a:hover {
	color: black;
}

section#wrapper {
	margin-top: 100px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

article#article_1 {
	width: 900px;
	height: 500px;
	background-color: white;
}

header#header_article_1 {
	width: 900px;
	height: 60px;
	background-color: white;
}

section#section_article_1 {
	width: 850px;
	height: 400px;
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: white;
}

